* {
	font-family: Corbel, Helvetica, Arial;
	font-size: 14px;
}

h1 {
    display: inline-block;
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

img {
    float: none;
	border: 2px solid black;
}

ul {
    margin: 0;
    padding: 0;
}

#page {
    width: 840px; /*Width of main container*/
    margin: 10px auto; /*Center container on page*/
}

header {
    position: relative;
    width: 100%;
	height: 72px;
	padding: 0 0 10px;
}

div.content {
    width: 100%;
    display: block;
}

div.content-header {
    position: relative;
    display: block;
    padding: 10px;
    width: 820px;
}

div.content-header div {
    padding: 0 0 5px;
}

div.content-header div.admin {
    display: inline-block;
    margin-left: 10px;
}

div.left-column {
    display: inline-block;
    float: left;
    width: 214px;
    padding: 10px;
}

div.left-column.room {
    width: 428px;
}

div.right-column {
    display: inline-block;
    float: left;
    width: 586px;
    padding: 10px;
}

div.right-column.room {
    width: 372px;
}


/* Header styling */
#logo {
    position: absolute;
    left: 0;
    top: 0;
}

#logo img {
	border: none;
}

#header-content {
	position: absolute;
	right: 0;
	bottom: 32px;
}

#search {
	margin-top: 15px;
	display: block;
}

#main-nav {
	list-style: none;
}

#main-nav li.first {
	border-left: none;
}

#main-nav li {
    line-height: 16px;
	border-left: 1px solid black;
	float: left;
	padding: 0 5px;
	margin: 5px 0;
}

#main-nav li a {
	font-size: 14px;
}

.breadcrumbs {
}
.breadcrumbs, .breadcrumbs a, .breadcrumbs span {
	font-size: 12px;
}

.row {
	margin: 5px 0;
}
.row label {
	display: inline-block;
	width: 150px;
}

.errorMessage {
	font-size: 10px;
	color: red;
}

div.map-images {
    position: relative;
    text-align: center;
}

.map-image, .building-image, .floor-image, .room-image {
    margin: 0 auto;
	display:none;
}

.display {
	display: block;
}

div.left-room {
	float: left;
	width: 450px;
}
div.right-room {
	float: right;
	width: 350px;
}

select#floors {
    display: block;
    margin: 5px 0 10px;
}

img.front-image {
    margin-bottom: 25px;
}

div.details {
    padding: 0 0 10px;
}

h3.category {
    background-color: #501D82;
    text-align: center;
    padding: 5px;
    color: white;
}
ul.room-features {
    overflow: hidden;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    margin: 0 0 10px;
    width: 370px;
}
ul.room-features li:nth-child(odd)  {
    background-color: #dacfe5;
}
ul.room-features li{
    vertical-align: middle;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
	list-style: none;
	border: none;
}

ul.room-features li div {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
}
div.feature {
    font-weight: bold;
    width: 170px;
}
div.details {
}
button#add-list {
    margin-top: 5px;
    float: right;
}
