* {
    font-family: Corbel, Helvetica, Arial;
    font-size: 14px;
}

h1 {
    display: inline-block;
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

img {
    float: none;
    border: 2px solid black;
}

ul {
    margin: 0;
    padding: 0;
}

.warning:before {
    content: '**';
}
.warning {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    background-color: #fffca0;
    font-style: italic;
}
.warning:after {
    content: '**';
}

span.required {
    color: red;
}

span.error {
    display: inline-block;
    padding: 5px;
    border: 1px solid red;
    background-color: #e7b7b7;
    font-style: italic;
}

label.error {
    font-weight: bold;
    color: red;
}

input.error {
    /* background-color: #e7b7b7; */
}

#page {
    width: 840px; /*Width of main container*/
    margin: 10px auto; /*Center container on page*/
}

header {
    position: relative;
    width: 100%;
    height: 72px;
    padding: 0 0 10px;
}

div.content {
    width: 100%;
    display: block;
}

div.content-header {
    position: relative;
    display: block;
    padding: 10px;
    width: 820px;
}

div.content-header div {
    padding: 0 0 5px;
}

div.content-header div.admin {
    display: inline-block;
    margin-left: 10px;
}

div.left-column {
    display: inline-block;
    float: left;
    width: 214px;
    padding: 10px;
}

div.left-column.room {
    width: 428px;
}

div.left-column.admin {
    width: 700px;
}

div.right-column {
    display: inline-block;
    float: left;
    width: 586px;
    padding: 10px;
}

div.right-column.room {
    width: 372px;
}

div.right-column.admin {
    width: 100px;
}


/* Header styling */
#logo {
    position: absolute;
    left: 0;
    top: 0;
}

#logo img {
    border: none;
}

#header-content {
    position: absolute;
    right: 0;
    bottom: 32px;
}

#search {
    margin-top: 15px;
    display: block;
}

#main-nav {
    list-style: none;
}

#main-nav li.first {
    border-left: none;
}

#main-nav li {
    line-height: 16px;
    border-left: 1px solid black;
    float: left;
    padding: 0 5px;
    margin: 5px 0;
}

#main-nav li a {
    font-size: 14px;
}

.breadcrumbs {
}
.breadcrumbs, .breadcrumbs a, .breadcrumbs span {
    font-size: 12px;
}

.row {
    margin: 5px 0;
}
.row label {
    display: inline-block;
    width: 150px;
}

.errorMessage {
    font-size: 10px;
    color: red;
}

div.map-images {
    position: relative;
    text-align: center;
}

.map-image, .street-image, .building-image, .floor-image, .room-image {
    margin: 0 auto;
    display:none;
}
.display {
    display: block;
}

div.left-room {
    float: left;
    width: 450px;
}
div.right-room {
    float: right;
    width: 350px;
}

select#floors {
    display: block;
    margin: 5px 0 10px;
}

img.front-image {
    margin-bottom: 25px;
}

.images h2, .features h2 {
    display: inline-block;
    margin-right: 5px;
}
.images span.info, .features span.info {
    font-style: italic;
    font-size: 12px;
}

div.details {
    padding: 0 0 10px;
}

h3.category {
    background-color: #501D82;
    text-align: center;
    padding: 5px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul.room-features {
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 0 10px;
    width: 370px;
}
ul.room-features li:nth-child(odd) {
    background-color: #dacfe5;
}
ul.room-features li{
    vertical-align: middle;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    list-style: none;
    border: none;
}

ul.room-features li div {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
}
div.feature {
    font-weight: bold;
    width: 170px;
    position:relative;
}

div.feature:hover span.description {
    display: block;
}
span.description {
    display: none;
    padding: 3px;
    position: absolute;
    top: 24px;
    width: 352px;
    border: 1px solid black;
    background-color: #fffca0;
    z-index: 100;
    font-weight: normal;
}
div.details {
}
button#add-list {
    margin-top: 5px;
    float: right;
}

ol#list {
    list-style:decimal;
    width: 420px;
    margin: 0;
}

ol#list li {
    padding: 10px;
    border-bottom: 1px solid grey;
    cursor: n-resize;
}
ol#list li div.room, ol#list li div.room a {
    font-size: 22px;
    font-weight: bold;
}

button.remove {
    float: right;
}
div.list-tools {
    width: 400px;
    margin-left: 40px;
    padding: 10px;
}
button.clear {
    float: right;
}

div.rooms {
    display: none;
}

.form {
    padding: 10px;
}

.form p.note {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 1px;
}

.form img {
    width: 50px;
}

div.status span.title {
}

div.status {
    position: absolute;
    top: 17px;
    right: 10px;
    float:right;
    font-size: 22px;
    font-weight: bold;
}

div.status.on {
    color: green;
}

div.status.off {
    color: red;
}

label.verification {
    margin-left: 15px;
    width: auto;
}
